@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Provide your account details:</h2>
    <p>Username</p>
    <p>Password</p>
    <p>This is just a stub someone should do accounts</p>
</div>