@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Provide your account details:</h2>
    <div class="inline-block">
        <a>Username: </a>
		<input id="username-input" type="text" />
    </div>
    <div class="inline-block">
        <a>Password: </a>
        <input id="password-input" type="text" />
    </div>
    <div class="inline-block">
		<button id="login-button" class="btn btn-primary" >Login</button>
    </div>
</div>

<script type="module">
    import { localStorageKeys, SetLocalStorage } from '/js/utils.js';

    function login() {
        var username = document.getElementById("username-input").value;
        var password = document.getElementById("password-input").value;
        if (username === "" || password === "") {
            alert("Please fill in both fields.");
            return;
        }

        fetch('/auth/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username: username, password: password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.id) {
                SetLocalStorage(localStorageKeys.UserId, data.id);
                alert("Logged in successfully")
                window.location.href = '/';
            } else alert("Login failed: " + data.message);
        })
        .catch(error => {
            console.error('Error:', error);
            alert("An error occurred during login.");
        });
    }
    document.getElementById("login-button").addEventListener("click", login);
</script>

<style>
    .inline {
        display: inline-block;
        text-align: left;
	}
</style>