@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sigma sigma on the wall who is the rizziest of them all.</p>
<a>Quizzy reserves to right to harvest your data for whatever it wants because we are really trustworthy. We don't actually have anything to really do that yet though</a>
